.cabecalho{
    background-color: #1f2937;
   
    margin-left: 20px;
    margin-right: 20px;
    padding: 40px;
}
h1{
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    display: flex
    
}
body{
      
}
    .menu{
    display: flex;
    justify-content: space-between;
    align-items: start;
    font-size: 24px;
    color: #f9faf8
}

#ul,ul{
    display: flex;
    text-align: start;
    align-items: start;
    list-style: none;
    gap: 20px;
    font-size: 18px;
    color: #e5e7eb
}
img{
    display: flex;
    width: 300px;
    height: auto;
    
}
.img{
    display: flex;
   
}
button{
    border-radius: 5px;
    background-color: blue;
    background-color: #3882f6
}
.pp{
    font-size: 18px;
    color: #e5e7eb
}
h2{
    font-weight: bold;
    font-size: 36px;
    text-align: center;
}
.corpo{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0px    
}
.text{
    border: solid blue 1px;
    width: 120px;
    height: 120px;
    border-radius: 13px;
}
.subtext{
    display:flex;
    justify-content: space-evenly;
}
.subcorpo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
}
.corpo3{
 background-color: #e5e7eb;
 display: flex;
 padding: 50px;
 justify-content: center;
}
.pp2{
    font-size: 36px;
    font-weight: lighter;
    color: #1f2937;
    
    
    display: flex;
    
}
.pp3{
    font-weight: bolder;
    align-self: flex-end;
}
.branco{
    padding: 50px;
    background-color: whitesmoke;
}
.azul{
    padding: 60px;
    display: flex;
    background-color: blue;
    border-radius: 25px;
}
.pp4{
    color: white
}